.modal {
  @apply flex justify-center items-center fixed z-[100] top-0 inset-0 overflow-auto opacity-0 invisible;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
  @apply opacity-100 visible;
}

.modalContent {
  @apply p-[2rem] bg-[color:var(--body-bg)] w-[50%] opacity-0 relative md:w-[80%];
  transform: translateY(-250px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.modalContentClose {
  @apply absolute right-[5px] top-[5px] text-[1.5rem] cursor-pointer hover:text-[color:var(--main-color)];
}

.modal.active .modalContent {
  @apply opacity-100 translate-y-0;
}
